

<form  [formGroup]="formControl" (ngSubmit)="cadastrar(formControl)"> 

<cmail-form-field [campo]="formControl.get('name')">
    <input  
        cmailInputField
      formControlName = "name"  
        name="nome" 
        placeholder="Nome">
</cmail-form-field>

<cmail-form-field [campo]="formControl.get('username')">
    <input  
    cmailInputField
    formControlName = "username"  
    name="username" 
    placeholder="Usuário">
</cmail-form-field>

<cmail-form-field [campo]="formControl.get('password')">
    <input  
    cmailInputField
    formControlName = "password"  
    name="password" 
    placeholder="Senha">
</cmail-form-field>

<cmail-form-field [campo]="formControl.get('avatar')">
    <input  
    cmailInputField
    formControlName = "avatar"  
    name="avatar" 
    placeholder="Avatar">
</cmail-form-field>


<cmail-form-field [campo]="formControl.get('phone')">
    <input  
    cmailInputField
    type="tel"
    formControlName = "phone"  
    name="phone" 
    placeholder="Telefone">
    <span class="mdl-textfield__error" *ngIf="formControl.get('phone').errors?.pattern">Informar telefone válido</span>
</cmail-form-field>

<br>

<button>Cadastrar</button>


</form>


